* {
  margin:0vw,0vh;
  padding: 0vw,0vh;
}
html{
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
}
body {
 background-image: url("background.jpg");
  background-repeat: infinite;
  width: 98.8vw;
  height: 97.3vh;
  background-size: 100%, 100%;
  margin-top: -10vh;

}
.body {
  opacity: 0;
  display: flex;
  justify-content: center;
  font-size: 15vh;
  text-align: center;
  font-family: "Comforter", cursive;
  animation: show;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Nav{
  position: fixed;
  top: 2vh;
  right: 10vw;
  display: inline-block;
  opacity: 0;
  animation: show;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.hobbiessize{
  background-color: green;
  font-size: 1.05vw;
  width: 8vw;
  position: absolute;
  top: 0vh;
  right: 10vw;
  padding: 1vw;
  cursor: pointer;
}
.hobbiessize a{
  text-decoration: none;
  color: white;
}
.hobbiessize:hover{
  background-color: lightgreen; 
}
.hobbiessize a:hover{
     color: brown; 
}
.skillsize{
  background-color: green;
  font-size: 1.1vw;
  width: 6vw;
  position: absolute;
  top: 0vh;
  right: 2vw;
  padding: 1vw;
  cursor: pointer;
}
.skillsize:hover{
  background-color: lightgreen; 
}
.skillsize a:hover{
  color: brown; 
}
.skillsize a{
  text-decoration: none;
  color: white;
}
.move{
  margin-top: 10vh;
  margin-left: 0vw;
  animation: move;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
.movement{
  position: fixed;
  animation: size;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
.link_design {
  margin-top: 3vh;
  margin-left:5vw;
  display: flex;
  justify-items: end;
}
.linkH {
  background-color: lightgreen;
  opacity: 0;
  width: 10vw;
  height: 8vh;
  font-size: 1.2vw;
  margin-right: 4vw;
  color: black;
  text-decoration: none;
  animation: show;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 6.2s;
  cursor: pointer;
}
.linkH a{
  text-decoration: none;
  color: brown;
}
.linkH:hover{
  background-color: rgb(69, 231, 69);
}
.linkH a:hover{
  color: aqua;
}
.linkS {
  background-color: lightgreen;
  opacity: 0;
  width: 10vw;
  height: 8vh;
  max-height: 100px;
  max-width: 200px;
  font-size: 1.5vw;
  text-decoration: none;
  animation: show;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 6.2s;
  cursor: pointer;
}
.linkS a{
  text-decoration: none;
  color: brown;
}
.linkS:hover{
  background-color: rgb(69, 231, 69);
}
.linkS a:hover{
  color: aqua;
}
.list {
  margin-top: 14vh;
  font-size: 2.5vw;
  width: 45vw;
  font-family: 'Bebas Neue', cursive;
}
.list1 {
  background-color:rgba(255, 255, 255, 0.7);
  opacity: 0;
  list-style-type:circle;
  margin-left: 2vw;
  animation: show;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
.Self{
  background-color:rgba(255, 255, 255, 0.7);
  opacity: 0;
    margin-top: 6vh;
    font-size: 2.5vw;
    margin-left:4vw;
    animation: show;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
.border{
  position: absolute;
top: 37vh;
right: 10vw;
    width: 30vw;
    height: 45vh;
}
.Image{
position: absolute;
top: -20vh;
}
.Image img{
  opacity: 0;
width: 30vw;
height: auto;
animation: show;
animation-duration: 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-delay: 3s;
}
@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
@keyframes hide{
  from{
    opacity: 1;
  }
  to{
  opacity: 0;
  }
}
@keyframes move{
  from{
    margin-top: 10vh;
    margin-left: 0vw;
  }
  to{
    margin-top: 10vh;
    margin-right: 80vw;
  }
}
@keyframes size{
  from{
    font-size: 15vh;
  }
  to{
    font-size: 3vw;
  }
}
