body {
  background-image: url("background3.jfif");
  background-repeat: infinite;
  background-size: 100%, 100%;
}
.SkillSize{
    display: block;
    justify-content: center;
    font-size: 8vw;
    position: absolute;
    top: 0vh;
}
.pos {
  position: absolute;
  top: 0.5vh;
  right: 7vw;
}
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 3vw;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(253, 253, 253, 0);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding-top: 2vh;
  padding-left: 0.7vw;
  padding-bottom: 2vh;
  padding-right: 4.5vw;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn img {
  display: flex;
  justify-items: center;
  position: absolute;
  width: 3vw;
  height: auto;
}
.fit {
  display: inline-block;
  justify-content: center;
  position: absolute;
  top: 20vh;
  right: 50vw;
}
.fit {
  font-size: 5vh;
  display: block;
  justify-items: center;
  justify-content: center;
  position: absolute;
  top: 30vh;
  left: 3vw;
  width: 45vw;
  height: 55vh;
}
.pos1 {
  color: white;
  position: absolute;
  justify-items: center;
  left: 7vw;
}
.pos1 progress {
  font-size: 4vw;
  padding-right: 12vw;
}
.pos2 {
  color: white;
  position: absolute;
  justify-items: center;
  top: 10vh;
  left: 7vw;
}
.pos2 progress {
  font-size: 4vw;
  padding: 1.2vw;
}
.pos3 {
  color: white;
  position: absolute;
  justify-items: center;
  top: 20vh;
  left: 7vw;
}
.pos3 progress {
  font-size: 4vw;
  padding: 1.2vw;
}
.pos4 {
  color: white;
  position: absolute;
  justify-items: center;
  top: 30vh;
  left: 7vw;
}
.pos4 progress {
  font-size: 4vw;
  padding: 1.2vw;
}
.pos5 {
  color: white;
  position: absolute;
  justify-items: center;
  top: 40vh;
  left: 7vw;
}
.pos5 progress {
  font-size: 4vw;
  padding: 1.2vw;
}
.pos1 label {
  position: absolute;
  top: 1vh;
}
.pos2 label {
  position: absolute;
  top: 1.5vh;
}
.pos3 label {
  position: absolute;
  top: 2vh;
}
.pos4 label {
  position: absolute;
  top: 2.5vh;
}
.pos5 label {
  position: absolute;
  top: 2.4vh;
}
